<div class="text-field form-group">
  <%= form.text_field :email, placeholder: "Email address", type: 'email', class: 'form-control' %>
</div>

<div class="text-field form-group">
  <%= form.text_field :first_name, placeholder:'First name', class: "form-control" %>
</div>

<div class="text-field form-group">
  <%= form.text_field :last_name, placeholder: 'Last name' , class: "form-control"  %>
</div>

<div class="password-field form-group">
  <%= form.password_field :password, placeholder: 'Create a Password' , class: "form-control"  %>
</div>

<div class="birthdate-field form-group">
  <%= form.date_field :birthdate, class: "form-control" %>
</div>
