<%= render partial: "navbar"%>
<div class="container" style="padding-top:150px;">
  <h1>Meet fellow travellers & coffee lovers! </h1>
    <div class="row list-group">
      <% @users.each do |u| %>
      <a href="/users/<%=u.id%>" target="_blank">
        <div class="item col-lg-4" style="min-height: 450px;">
          <div class="thumbnail">
            <%= image_tag("fairbnc-profile-photo.jpg") %>
            <div class="caption">
              <h2 class="group inner list-group-item-heading"><%= u.first_name %> <%= u.last_name%></h2>
              <p class="group inner list-group-item-text"><%= u.country %> &middot; Joined on:<%=u.created_at%></p>
            </div>
          </div>
        </div>
      </a>
      <% end %>
    </div>
    <div class="text-center"><%= paginate @users %></div>
  </div>

</div>
<%= render partial: "footer"%>
