<%= form_for @reservation, url: user_listing_reservations_path(user_id:@user.id, listing_id:@listing.id) do |f| %>
<% if @errors.present? %>
   <div>
     <p><%= @errors %></p>
   </div>
<% end %>
<%= f.hidden_field :listing_id, value:@listing.id %>
<%= f.hidden_field :user_id, value:current_user.id%>
  <div class="form-group">
    <strong><%= f.label "Guests" %></strong>
    <%= f.number_field :num_guests, class:"form-control" %>
  </div>

  <div class="form-group" id="datepicker">
    <strong><%= f.label :start_date %></strong>
    <%= f.text_field :start_date, data:{provide:"datepicker", turbolinks: false }, class:"form-control"%>
  </div>
  <div class="form-group date" id="datepicker">
    <strong><%= f.label :end_date %></strong>
    <%= f.text_field :end_date, data:{provide:"datepicker", turbolinks: false }, class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit "Submit Reservation", class:"btn btn-danger form-control" %>
  </div>
<% end %>
