<div class="body-container">
  <nav class="navbar">
    <div>
      <%= link_to "#{image_tag('fairbnc-logo.png', style:"height:65px; width:auto;", class:"align-center")}".html_safe, '/' %>
    </div>
  </nav>
  <div>
    <div>
      <h1>Dear <%= @user.first_name %></h1>
      <p>Thank you for booking with Fair-BnC, below are your booking details.</p>
      <p>Please proceed to make payment via the link provided below or through your reservation record page.</p>
    </div>
    <div>
      <% if @listing.photos? %>
      <%= image_tag(@listing.photos.first) %>
      <% else %>
      <%= image_tag("fairbnc-room-photo.jpg") %>
      <% end %>
    </div>
    <div>
      <p><%=@listing.name%></p>
      <p><%=@listing.country%> &middot; <%= @listing.city %></p>
    </div>
    <div>
      <% @total = @listing.price * (@reservation.end_date - @reservation.start_date) %>
      <h2>Total Payment Due: RM<%=@total%></h2>
    </div>
    <p> Delivered with love,</p>
    <h4>Fair-BnC Team</h4>
  </div>
  <footer>
  </footer>
</div>
